<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="template.css" />
    
  </head>

  <body>
      <div class="container">
      <header>
          <div class="navigation">
              <nav>
                  <ul>
                      <li>HOME</li>
                      <li>ABOUT US</li>
                      <li>CONTACT</li>
                      <li>COMPANY</li>
                      <li>SERVICES</li>
                  </ul>
              </nav>
          </div>
      </header>

      <div class="aside">
          <h3>TechCorporate </h3> 
          <span class="h3-small">Free PSD Website Template</span>
          <span class="contact">
              <ul>
                  <li>Tel: xxxx xxxxxxxxxx</li>
                  <li>Mail: info@domain.com</li>
              </ul>
          </span>
      </div>

      <div class="section">
          <div class="section-1">TECHNOLOGY</div>
          <div class="section-2">
              <h6>Lorem ipsum dolor sit</h6> 
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos voluptate veniam, ullam iste praesentium dolores qui fugit repudiandae cumque vero quibusdam excepturi a impedit aliquam officiis et! Sint necessitatibus quas aliquam fugiat.</p>
          </div>
          <div class="section-3">Todays Technology <strong>>></strong></div>
      </div>

      <main>
          <div class="card">
              <div class="title">Lorem ipsum dolor sit</div>
              <div class="rectangle">240 x 90px</div>
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam eius ratione quidem corrupti rem ut, expedita facere officiis quasi, tempora modi, ipsam repellat voluptatum ipsa libero. Quo quae sapiente repellendus!</p>
              <a href="#">Read more >></a>
          </div>

          <div class="card">
            <div class="title">Lorem ipsum dolor sit</div>
            <div class="rectangle">240 x 90px</div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam eius ratione quidem corrupti rem ut, expedita facere officiis quasi, tempora modi, ipsam repellat voluptatum ipsa libero. Quo quae sapiente repellendus!</p>
            <a href="#">Read more >></a>
        </div>

        <div class="card">
            <div class="title">Lorem ipsum dolor sit</div>
            <div class="rectangle">240 x 90px</div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam eius ratione quidem corrupti rem ut, expedita facere officiis quasi, tempora modi, ipsam repellat voluptatum ipsa libero. Quo quae sapiente repellendus!</p>
            <a href="#">Read more >></a>
        </div>  
      </main> 

      <div class="article">
        <div class="article-part1">
          <div class="square">200x160px</div>
          <div class="about">
              <div class="title">Lorem ipsum dolor sit</div> 
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero sint animi voluptates voluptatibus, tenetur rerum in voluptas praesentium esse modi fuga aliquam vitae ratione. Dolore earum quis architecto minus omnis sint obcaecati non distinctio. Minima, autem. Vero vel eum iusto?</p>
              <a href="#">Continue reading >></a>
            </div>
        </div>  
           <div class="categories">
               <div class="categories-title">Categories</div>

               <ul>
                   <li><a href="#">>>Link text goes here</a></li>
                   <li><a href="#">>>Link text goes here</a></li>
                   <li><a href="#">>>Link text goes here</a></li>
                   <li><a href="#">>>Link text goes here</a></li>
                   <li><a href="#">>>Link text goes here</a></li>
               </ul>
            
          </div>
      </div>

      <div class="forms">
          <ul>
              <li>174 x 100PX</li>
              <li>174 x 100PX</li>
              <li>174 x 100PX</li>
              <li>174 x 100PX</li>
              <li>174 x 100PX</li>
          </ul>
      </div>

      <footer>
          <p>Copyright 2009 Domain Name - All rights reserved <span>Template by OS Templates</span></p>
      </footer>
    </div>

  </body>